{
  "presets": [
    // Use debug: true to see what transforms are happening
    // and what browsers needed them
    ["@babel/preset-env", {}]
  ],
  "plugins": [
    "lodash",
    ["@babel/plugin-transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
