/**
 * Variables
 */

// Font families
$font-benton-sans: 'Benton Sans', Helvetica, Arial, sans-serif !default;
$font-bentonSansCondMed: 'Benton Sans Condensed Medium', Helvetica, Arial, sans-serif !default;

$font-popular: 'Popular', Helvetica, Arial, sans-serif !default;
$font-popular-light: 'Popular Light', Helvetica, Arial,sans-serif !default;
$font-popular-medium: 'Popular Medium', Helvetica, Arial, sans-serif !default;

$font-poynter-serif: 'Poynter Serif RE', Georgia, Times, serif !default;

$font-whitman-display-compressed-bold: 'Whitman Display Compressed Bold', serif !default;
$font-whitman-display: 'Whitman Display', serif !default;
$font-whitman-osf: 'Whitman OSF', serif !default;

// Font use
$font-text: $font-benton-sans !default;
$font-header: $font-benton-sans !default;

// Colors
$color-black: #000000 !default;
$color-white: #FFFFFF !default;

$color-strib-green-dark: #005825 !default;
$color-strib-green-light: #8DC63F !default;
$color-strib-green-bg: #00824A !default;

$color-beige: #E4C691 !default;
$color-dark-green-gold: #8D8862 !default;
$color-light-green: #C0DC99 !default;
$color-green: #507356 !default;
$color-light-blue: #97D5D9 !default;
$color-desat-blue: #464B65 !default;
$color-purple: #3E2B3D !default;
$color-dark-purple: #3A3248 !default;
$color-pink: #CC8E94 !default;
$color-skin: #B08B7B !default;

// Common color use
$color-text: $color-black !default;
$color-text-bg: $color-white !default;
$color-link: $color-strib-green-dark !default;

// Breakpoints
$bp-small: 450px !default;
$bp-medium: 775px !default;
$bp-large: 1050px !default;

$responsive-points: (
  ("default", 0),
  ("small", $bp-small),
  ("medium", $bp-medium),
  ("large", $bp-large)
) !default;
