$black-100: #222222;
$black-90:  #383838;
$black-80:  #4e4e4e;
$black-70:  #646464;
$black-60:  #7a7a7a;
$black-50:  #909090;
$black-40:  #a7a7a7;
$black-30:  #bcbcbc;
$black-20:  #d3d3d3;
$black-10:  #e8e8e8;