<!DOCTYPE html>
<html lang="en">
  <head>
    <%% let thisPage = 'index'; %>
    <% if (answers.projectType === 'cms') { %>@@include('./_cms-assets.ejs.html')<% } %>
    @@include('./_head.ejs.html')
  </head>

  <body class="">
    <% if (answers.projectType === 'cms') { %>
    <div class="<%= answers.stribStylesWrapper.replace(/\./g, ' ').trim() %>">
      @@include('./_cms-nav.ejs.html')
    </div>
    <% } %>

    <% if (answers.projectType === 'cms') { %><!-- This is the main content that will go in the LCD --><% } %>
    @@include('./_index-content.ejs.html')

    <% if (answers.projectType === 'cms') { %>
    <div class="<%= answers.stribStylesWrapper.replace(/\./g, ' ').trim() %>">
      @@include('./_cms-footer.ejs.html')
    </div>
    <% } %>

    <!-- Global/external scripts -->
    <%% if (config.js && config.js.globals) { config.js.globals.forEach(function(s) { %>
      <script src="<%%= s %>"></script>
    <%% }); } %>

    <!-- Scripts -->
    <script src="./app.bundle.js"></script>
  </body>
</html>
