<!DOCTYPE html>
<html lang="en">
  <head>
    <%% let thisPage = 'index'; %>
    <% if (answers.projectType === 'cms') { %>@@include('./_cms-assets.ejs.html')<% } %>
    @@include('./_head.ejs.html')
  </head>

  <body class="<% if (answers.projectType !== 'cms') { %>strib<% } %>">
    @@include('./_index-content.ejs.html')

    <!-- Global/external scripts -->
    <%% if (config.js && config.js.globals) { config.js.globals.forEach(function(s) { %>
      <script src="<%%= s %>"></script>
    <%% }); } %>

    <!-- Scripts -->
    <script src="./app.bundle.js"></script>
  </body>
</html>
