/**
 * Main style file for project.
 * Uses SASS, specifically the SCSS syntax
 * http://sass-lang.com/
 */

// Strib icons
//$strib-fonts-location: '//static.startribune.com/assets/libs/strib-icons/0.0.9/';
//@import '@striblab/node_modules/@striblab/strib-icons/build/strib-icons.scss';

// Strib styles
// https://github.com/striblab/strib-styles/blob/master/source/styles/_variables.scss
<% if (answers.projectType === 'cms') { %>
// Assumed that this project lives within an existing page, so we add a
// wrapper that is very specific and wrap our other styles in it, so
// that we don't affect other styles on the page.
$selector-wrapper: '.strib.strib-styles.strib-styles-specifically';
@import '@striblab/strib-styles/source/styles/default-wrapper.scss';
<% } else { %>
@import '@striblab/strib-styles/source/styles/default.scss';
<% } %>

// Project specific styles.  Split styles into files per component
<% if (answers.projectType === 'cms') { %>.strib.strib-styles.strib-styles-specifically {<% } %>
@import 'project';
<% if (answers.projectType === 'cms') { %>}<% } %>
