
<!DOCTYPE html>
<!--[if IE 8 ]><html dir="ltr" lang="en-US" class="no-js ie8 oldie"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie ie9"><![endif]-->
<head>
<title>My Strib Project</title>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="http://static.startribune.com/css/normalize.css">
<link rel="stylesheet" href="http://static.startribune.com/css/strib-fonts.css">
<link rel="stylesheet" href="http://static.startribune.com/news/tools/css/main.css">
<link rel="stylesheet" href="http://static.startribune.com/news/tools/css/embed-tool.css">
<script type="text/javascript" src="http://assets.startribune.com/static/vendor/modernizr/modernizr.js"></script>
<script type="text/javascript" src="http://assets.startribune.com/static/vendor/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../js/embed-tool.js"></script>
</head>
<body>
<div id="overlay">&nbsp;</div>
<div id="results">
<button onclick="closeResults()" class="close"></button>
<h2><span id="copy_message" onclick="closePreview();return false;">Copy your embed code</span> <span id="preview" class="note"></span></h2>
<textarea class="embedCode" type="text" id="embedOutput"/></textarea>
<div id="preview_pane"></div>
</div>
<div id="sliderPreview">&nbsp;</div>
<header>
<a href="https://sites.google.com/site/startribunedigitalwiki/">strib <span class="bracket"><</span> <span class="logo"></span> <span class="bracket">></span> tools</a>
    </header>
    <main>
        <h1>My Strib Project Pages</h1>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h4><a href="/d-article.html" target="_new">Desktop article</a></h4>
        <hr>
        <h4><a href="/m-article.html" target="_new">Mobile article</a></h4>
    </main>
</html>